﻿@model CalculateOVM


<h1>Monthly Payment Calculation Results</h1>
<table class="table table-striped table-bordered">
    <tr>
        <th>purchasePrice</th>
        <td>@Model.purchasePrice</td>
    </tr>
    <tr>
        <th>depositPaid</th>
        <td>@Model.depositPaid</td>
    </tr>
    <tr>
        <th>bondTermInYears</th>
        <td>@Model.bondTermInYears</td>
    </tr>
    <tr>
        <th>fixedInterestRate</th>
        <td>@Model.fixedInterestRate</td>
    </tr>
    <tr>
        <th>Monthly Payment</th>
        <td>@Model.CalculationResult</td>
    </tr>
</table>
<br />
<a href="/" class="btn btn-success">Next Calculation</a>