﻿
@{
    ViewData["Title"] = "Home Page";
}
<div id="basicCalculationForm">
    <form method="post" action="/Home/Calculate">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Purchase Price</th>
                <td>
                    <input type="text" name="purchasePrice" id="purchasePrice" placeholder="Total Purchase Price">
                </td>
            </tr>
            <tr>
                <th>Deposit Paid</th>
                <td>
                    <input type="text" name="depositPaid" id="depositPaid" placeholder="Deposit Paid">
                </td>
            </tr>
            <tr>
                <th>Bond Term In Years</th>
                <td>
                    <input type="text" name="bondTermInYears" id="bondTermInYears" placeholder="Length of Bond in Years">
                </td>
            </tr>
            <tr>
                <th>Fixed Interest Rate</th>
                <td>
                    <input type="text" name="fixedInterestRate" id="fixedInterestRate" placeholder="Interest Rate as Percentage">
                </td>
            </tr>
            <tr>
                <th>Monthly Payment</th>
                <td>
                    <input type="submit" value="Calculate" class="btn btn-primary" />
                </td>
            </tr>
        </table>


        

    </form>
</div>
